header {
  border: 2px solid red;
  background-color: greenyellow;
}

header > nav ul {
  list-style: none;
  padding: 0;
}

nav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
}